<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="<%= @title %>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="main.css" type="text/css" />
        <title><%= @title %>.planet.wikimedia.org</title>
        <link rel="alternate" type="application/rss+xml" title="Planet Wikimedia <%= @title %>" href="https://<%= @title %>.planet.wikimedia.org/rss20.xml" />
    </head>

    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-kdeMenuIcon"></span>
                    </button>
                    <a class="navbar-brand" href="./index.html">
                        <span>
                            <img class="logo" src="Wikimedia_Community_Logo.svg" alt="Wikimedia Community Logo" align="left" />
                            <span class="logoText"><%= @title %>.planet.wikimedia</span>
                        </span>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= scope.lookupvar('planet::languages')[@title]['subscribe'] %> <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="https://<%= @title %>.planet.wikimedia.org/atom.xml">Atom</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= scope.lookupvar('planet::languages')[@title]['wikimedia'] %> <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="https://ar.planet.wikimedia.org/">ar</a></li>
                            <li><a href="https://cs.planet.wikimedia.org/">cs</a></li>
                            <li><a href="https://de.planet.wikimedia.org/">de</a></li>
                            <li><a href="https://el.planet.wikimedia.org/">el</a></li>
                            <li><a href="https://en.planet.wikimedia.org/">en</a></li>
                            <li><a href="https://es.planet.wikimedia.org/">es</a></li>
                            <li><a href="https://fr.planet.wikimedia.org/">fr</a></li>
                            <li><a href="https://gmq.planet.wikimedia.org/">gmq</a></li>
                            <li><a href="https://id.planet.wikimedia.org/">id</a></li>
                            <li><a href="https://it.planet.wikimedia.org/">it</a></li>
                            <li><a href="https://pl.planet.wikimedia.org/">pl</a></li>
                            <li><a href="https://pt.planet.wikimedia.org/">pt</a></li>
                            <li><a href="https://ro.planet.wikimedia.org/">ro</a></li>
                            <li><a href="https://ru.planet.wikimedia.org/">ru</a></li>
                            <li><a href="https://uk.planet.wikimedia.org/">uk</a></li>
                            <li><a href="https://zh.planet.wikimedia.org/">zh</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= scope.lookupvar('planet::languages')[@title]['planetarium'] %> <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="http://planet.apache.org/">Planet Apache</a></li>
                            <li><a href="http://planet.debian.net/">Planet Debian</a></li>
                            <li><a href="https://planet.freedesktop.org/">Planet freedesktop.org</a></li>
                            <li><a href="http://planet.gnome.org/">Planet GNOME</a></li>
                            <li><a href="http://planet.apache.org/">more...</a></li>
                          </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container" id="twocolumncontainer">
          <div class="row" id="twocolumn">
            <div class="col-md-9 col-lg-9">

             __items__

            </div>
          </div> <!-- twocolumn -->
        </div> <!--  id="twocolumncontainer" -->

        <hr class="blueline" />
        <div id="footer">
            <div class="container">
                <p class="footer-block">
                    Planet Wikimedia is made from the blogs of Wikimedia contributors. <br />
                    The opinions it contains are those of the contributor.
                </p>
                <p class="footer-block">
                    <a href="https://wikimediafoundation.org/wiki/Privacy_policy">Privacy Policy</a> | This site is powered by <a href="http://offog.org/code/rawdog.html">Rawdog</a>
                </p>
            </div>
        </div>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("img").addClass("img img-responsive imcent");
            });
        </script>
    </body>

</html>
