<!DOCTYPE html>
<html lang="<%= @title %>">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= @title %>.planet.wikimedia.org</title>
        <script type="text/javascript">
            function readReadColor(){
                for (var i = 0; i < localStorage.length; i++){
                    if (document.getElementById(localStorage.getItem(localStorage.key(i)))){
                        var current = document.getElementById(localStorage.getItem(localStorage.key(i))).previousElementSibling.getElementsByTagName("h4")[0];
                        current.classList.remove('unread');
                        current.className += " read";
                    } else {
                        localStorage.removeItem(i);
                    }
                }
            }

            function setStorage() {
                if (typeof(Storage) !== "undefined") {
                    localStorage['read ' + currentlyOpen] = currentlyOpen;
                }
            }

            var currentlyOpen = "none";

            document.onkeyup = KeyCheck;

            function KeyCheck(e) {
                var KeyID = (window.event) ? event.keyCode : e.keyCode;

                switch(KeyID) {
                    case 74:
                        nextPrev("next");
                        break;
                    case 75:
                        nextPrev("previous");
                        break;
                }
            }

            function toggle(showHideDiv) {
                var ele = document.getElementById(showHideDiv);
                if (ele.style.display == "block") {
                    ele.style.display = "none";
                    currentlyOpen = showHideDiv;
                    current = document.getElementById(currentlyOpen).previousElementSibling.getElementsByTagName("h4")[0];
                    current.classList.remove('read')
                    current.className += " unread";
                    setStorage();
                } else {
                    ele.style.display = "block";
                    currentlyOpen = showHideDiv;
                    current = document.getElementById(currentlyOpen).previousElementSibling.getElementsByTagName("h4")[0];
                    current.classList.remove('unread')
                    current.className += " read";
                    setStorage();
                }
            }
            function toggleall(changeTo){
                var list = document.getElementsByClassName("itemdescription");
                for (var i = 0; i < list.length; i++) {
                    var e = list[i];
                    e.style.display = changeTo;
                }
            }

            function nextPrev(direction){
                var divs = document.getElementsByClassName("itemdescription");
                var selectionDiv = document.getElementById(currentlyOpen);
                for(var i=0; i<divs.length; i++) {
                    if (divs[i] == selectionDiv) {
                        var previous = divs[i+1];
                        var next = divs[i-1];
                        break;
                    }
                }

                toggleall('none');
                if (direction == "next") {
                    if (next != undefined) {
                        toggle(next.id);
                        window.location = "#" + next.parentNode.id;
                    } else {
                        var begin = document.getElementById("beginning");
                        if (begin && begin.style) {
                          begin.style.display = "block";
                          setTimeout( function() { begin.style.display="none" }, 1000);
                        }
                    }
                } else {
                    if (previous != undefined) {
                        toggle(previous.id);
                        window.location = "#" + previous.parentNode.id;
                    } else {
                        alert("end");
                    }
                }
            }

            function markStatus(stat){
                var current = document.getElementById(currentlyOpen).previousElementSibling.getElementsByTagName("h4")[0];
                if (stat == "unread") {
                    current.classList.remove('read');
                    current.className += " unread";
                    localStorage.removeItem('read ' + currentlyOpen);
                    toggle(currentlyOpen);
                }
            }

            function markAllRead(){
                var items = document.getElementsByClassName("itemdescription");
                for (var i=0; i<items.length; i++) {
                    currentId = items[i].getAttribute('id');
                    localStorage['read ' + currentId] = currentId;
                    readReadColor();
                }
            }
        </script>
    </head>
    <body id="rawdog" onload="readReadColor()">
        <div id="page">
            <div id="header">
                <img src="Wikimedia_Community_Logo.svg" alt="Wikimedia Community Logo" style="width: 7%; vertical-align: top; padding: 10px 10px 10px 10px;" align="left" />
                <h1><%= @title %>.planet.wikimedia.org</h1>
                <h3>(rawdog __version__: __num_items__ items from __num_feeds__ feeds)</h3>
                <p><a onclick="toggleall('block')">Open all</a> <a onclick="toggleall('none')">Close all</a> <a onclick="markAllRead()">Mark All Read</a></p>
            </div>
            <div class="menu">
              <p>
                <h2><%= scope.lookupvar('planet::languages')[@title]['subscribe'] %></h2>
                <ul>
                  <li><a href="https://<%= @title %>.planet.wikimedia.org/rss20.xml">Atom</a></li>
                </ul>
              </p>
              <p>
                <h2><%= scope.lookupvar('planet::languages')[@title]['wikimedia'] %></h2>
                <ul>
                  <li><a href="https://ar.planet.wikimedia.org/">ar.planet.wm</a></li>
                  <li><a href="https://cs.planet.wikimedia.org/">cs.planet.wm</a></li>
                  <li><a href="https://de.planet.wikimedia.org/">de.planet.wm</a></li>
                  <li><a href="https://el.planet.wikimedia.org/">el.planet.wm</a></li>
                  <li><a href="https://en.planet.wikimedia.org/">en.planet.wm</a></li>
                  <li><a href="https://es.planet.wikimedia.org/">es.planet.wm</a></li>
                  <li><a href="https://fr.planet.wikimedia.org/">fr.planet.wm</a></li>
                  <li><a href="https://gmq.planet.wikimedia.org/">gmq.planet.wm</a></li>
                  <li><a href="https://id.planet.wikimedia.org/">id.planet.wm</a></li>
                  <li><a href="https://it.planet.wikimedia.org/">it.planet.wm</a></li>
                  <li><a href="https://pl.planet.wikimedia.org/">pl.planet.wm</a></li>
                  <li><a href="https://pt.planet.wikimedia.org/">pt.planet.wm</a></li>
                  <li><a href="https://ro.planet.wikimedia.org/">ro.planet.wm</a></li>
                  <li><a href="https://ru.planet.wikimedia.org/">ru.planet.wm</a></li>
                  <li><a href="https://uk.planet.wikimedia.org/">uk.planet.wm</a></li>
                  <li><a href="https://zh.planet.wikimedia.org/">zh.planet.wm</a></li>
                </ul>
              </p>
              <p>
                <h2><%= scope.lookupvar('planet::languages')[@title]['planetarium'] %></h2>
                <ul>
                  <li><a href="http://planet.apache.org/">Planet Apache</a></li>
                  <li><a href="http://planet.debian.net/">Planet Debian</a></li>
                  <li><a href="https://planet.freedesktop.org/">Planet freedesktop.org</a></li>
                  <li><a href="http://planet.gnome.org/">Planet GNOME</a></li>
                  <li><a href="http://planet.apache.org/">more...</a></li>
                </ul>
              </p>
            </div>
            <div class="pages">
                __paged_output_pages__
            </div>
            <div id="items">
                __items__
            </div>
            <div class="pages">
                __paged_output_pages__
            </div>
        </div>
        <a id="toTopButton" href="#">Top^</a>
        <div id="floatingNav">
            <p id="navNext" onclick="nextPrev('next')">&uarr;</p>
            <p id="navPrev" onclick="nextPrev('previous')">&darr;</p>
            <p id="markStatus" onclick="markStatus('unread')">+</p>
        </div>
    </body>
</html>
