<%- if @mode == 'tilerator' -%>
# Generates vtiles from database
genall:
  public: true
  formats: [pbf]
  uri: bridge://
  xml:
    npm: ['@kartotherian/osm-bright-source', 'data.xml']
  xmlSetDataSource:
    if:
      dbname: gis
      host: ''
      type: postgis
    set:
      host: localhost
      user: {var: osmdb-user}
      password: {var: osmdb-pswd}

# View tiles as generated directly from the database. Don't view zoom0-5
genview:
  public: true
  formats: [png,json,headers,svg,jpeg]
  scales: [1.3, 1.5, 2, 2.6, 3]
  static: true
  maxheight: 2048
  maxwidth: 2048
  uri: vector://
  xml:
    loader: <%= @style %>
  xmlSetParams:
    source: {ref: genall}

# Use this source instead of 'genall' to avoid saving simple tiles with just water or landuse
gen:
  public: true
  formats: [pbf]
  uri: substantial://
  params:
    source: {ref: genall}
    minzoom: 10
    minsize: 300
    layers: [water, landuse]
<%- end -%>

# Cassandra storage
<%= @storage_id %>:
<% if @mode == 'tilerator' -%>
  public: true
  formats: [pbf]
<% end -%>
  uri: cassandra://
  params:
    maxzoom: 16
    keyspace: <%= @storage_id %>
    cp: {var: cassandra-servers}
    username: {var: cassandra-user}
    password: {var: cassandra-pswd}
#    repfactor: 4
#    durablewrite: 0
#    createIfMissing: false

<% if @mode == 'tilerator' -%>
# View tiles as generated directly from the database. Don't view zoom0-5
<%= @storage_id %>view:
  public: true
  formats: [png,json,headers,svg,jpeg]
  scales: [1.3, 1.5, 2, 2.6, 3]
  static: true
  maxheight: 2048
  maxwidth: 2048
  uri: vector://
  xml:
    loader: <%= @style %>
  xmlSetParams:
    source: {ref: <%= @storage_id %>}
<%- end -%>

# OSM PBF source
osm-pbf:
  public: true
  formats: [pbf]
  uri: overzoom://
  params:
    source: {ref: <%= @storage_id %>}
    maxzoom: 18
  overrideInfo:
    attribution: 'Map data © <a href="http://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    tiles: ['https://maps.wikimedia.org/osm-pbf/{z}/{x}/{y}.pbf']
  defaultHeaders:
    Cache-Control: 'public, max-age=86400, s-maxage=86400'

# OSM map with international labeling - will be used as default
osm-intl:
  public: true
  formats: [png,json,headers,svg,jpeg]
  scales: [1.3, 1.5, 2, 2.6, 3]
  maxzoom: 18
  static: true
  maxheight: 2048
  maxwidth: 2048
  uri: vector://
  xml:
    loader: <%= @style %>
  xmlSetParams:
    source: {ref: osm-pbf}
  overrideInfo:
    attribution: 'Map data © <a href="http://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    tiles: ['https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png']
  defaultHeaders:
    Cache-Control: 'public, max-age=86400, s-maxage=86400'

# OSM map without any labels
osm:
  public: true
  formats: [png,json,headers,svg,jpeg]
  scales: [1.3, 1.5, 2, 2.6, 3]
  maxzoom: 18
  static: true
  maxheight: 2048
  maxwidth: 2048
  uri: vector://
  xml:
    loader: <%= @style %>
  xmlSetParams:
    source: {ref: osm-pbf}
  xmlExceptLayers: ['country_label', 'place_label', 'poi_label']
  overrideInfo:
    attribution: 'Map data © <a href="http://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    tiles: ['https://maps.wikimedia.org/osm/{z}/{x}/{y}.png']
  defaultHeaders:
    Cache-Control: 'public, max-age=86400, s-maxage=86400'
