<%
# Must check for :undef as well in below 'if' statements.
# Puppet 'undef' values normally become 'nil' in ERB (Ruby), which are falsey.
# But, in Puppet 3, when undef is put inside a hash or passed indirectly,
# it becomes ':undef' which is not falsey. This is fixed in Puppet 4.
# https://tickets.puppetlabs.com/browse/PUP-1467
-%>
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title><%= @errorpage['title'] %></title>
<% if @errorpage['favicon'] && @errorpage['favicon'] != :undef -%>
<link rel="shortcut icon" href="<%= @errorpage['favicon'] %>">
<% end -%>
<style>
* { margin: 0; padding: 0; }
body { background: #fff; font: 15px/1.6 sans-serif; color: #333; }
.content { margin: 7% auto 0; padding: 2em 1em 1em; max-width: 640px; }
.footer { clear: both; margin-top: 14%; border-top: 1px solid #e5e5e5; background: #f9f9f9; padding: 2em 0; font-size: 0.8em; text-align: center; }
img { float: left; margin: 0 2em 2em 0; }
a img { border: 0; }
h1 { margin-top: 1em; font-size: 1.2em; }
.content-text { overflow: hidden; overflow-wrap: break-word; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }
p { margin: 0.7em 0 1em 0; }
a { color: #0645ad; text-decoration: none; }
a:hover { text-decoration: underline; }
code { font-family: sans-serif; }
.text-muted { color: #777; }
</style>
<div class="content" role="main">
<% if @errorpage['logo_link'] && @errorpage['logo_link'] != :undef -%>
<a href="<%= @errorpage['logo_link'] %>"><% end %><img src="<%= @errorpage['logo_src'] %>" srcset="<%= @errorpage['logo_srcset'] %>" alt="<%= @errorpage['logo_alt'] %>" width="<%= @errorpage['logo_width'] %>"<% if @errorpage['logo_height'] && @errorpage['logo_height'] != :undef %> height="<%= @errorpage['logo_height'] %>"<% end %>>
<% if @errorpage['logo_link'] && @errorpage['logo_link'] != :undef -%>
</a>
<% end -%>
<h1><%= @errorpage['pagetitle'] %></h1>
<div class="content-text"><%= @errorpage['content'] %></div>
</div>
<% if @errorpage['footer'] && @errorpage['footer'] != :undef -%>
<div class="footer"><%= @errorpage['footer'] %></div>
<% end -%>
</html>
